.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: #fff;
  z-index: 1;
  .product__info {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    .product__price {
      margin-top: 5px;
    }
    .product__rating {
      display: flex;
    }
  }
  img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  button {
    cursor: pointer;

    background-color: rgb(255, 216, 21);
    border: 1px solid;
    border-color: #d5d9d9;
    padding: 5px 15px;
    margin-top: 10px;
    color: #111;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border-radius: 15px;

    &:hover {
      background-color: rgb(231, 196, 17);
    }
  }
  .product__alert-content {
    display: none !important;
    visibility: hidden !important;
  }
}
